<%- include ./header.ejs %>

<% if(noMatch !== null) { %>
    <h3><%= noMatch %></h3>
<% } %>

<div style="display:flex; flex-wrap:wrap; ">
        <% searchResult.forEach(function(item){ %>
            <div class="card m-2 text-center"; style="width:330px">
                <div style="width:174px;height:174px; margin:auto;"><img class="card-img-top w-100 pt-2" src="<%= item.image %>" alt=""></div>
                <div class="card-body">
                    <h4 class="card-title"><%= item.gameName %></h4>
                    <h6 class="card-subtitle mb-2 text-muted text-uppercase"><%= item.category %></h6>
                    <h3>$ <%= item.price %></h3>
                    <p class="text-secondary">Release Date: <%= moment(item.releaseDate).format("DD-MMM-YYYY"); %></p>
                    <a href="/games/<%= item.gameName %>" class="btn btn-primary">More info</a>
                </div>
            </div>
            
            <% })%>
        </div>   




<%- include ./footer.ejs %>

